.App {
  text-align: center;
}

.list {
  list-style-type: none;
  display: flex;
}

.list > li {
  padding: 3px;
  border: 1px solid black;
  background-color: lightgray;
}

.target {
  background-color: red !important;
}

.target-text{
  color: red;
}

.mid {
  background-color: green !important;
}

.mid-text{
  color: green;
}

